

<template>
  <v-container class="grey lighten-5">
     <v-text-field
          placeholder="Search"
          v-model="search"
          ></v-text-field>
 
    <v-row>
      <v-col
        v-for="index in filtered_news"
        :key="index"
        cols="4"
        md="4"
      >
  <v-card
    class="mx-auto"
  >
    <v-img
      :src="index.urlToImage"
      height="200px"
    ></v-img>

    <v-card-title>
      <div>{{index.title}}</div>
      <p class="subtitle-1 mt-2">{{index.publishedAt}}</p>
 
      <span class="grey--text subtitle-1">{{index.description}}</span>
    </v-card-title>

    <v-card-actions>
    
    </v-card-actions>

    
  </v-card>



      </v-col>
    </v-row>

   
  </v-container>
</template>




<script>
import {mapState,mapGetters, mapMutations} from "vuex"
export default {
  mounted(){
    this.$store.dispatch("loadNews");
    this.data=this.posts.articles;
  },
  data: () => ({
      show: false,
      search:"",
      data:[]
    }),
  methods:{
  

  },
  computed :{
    ...mapMutations([
      'SET_POST'
    ]),
    ...mapState([
      'posts'
    ]),
    ...mapGetters([
      'postdata'
    ]),
      filtered_news() {
      return this.data.filter(post => {
        return post.title.toLowerCase().includes(this.search.toLowerCase())
      })
  }
  }
  
 
  
};
</script>
