<template>
  <v-app style="background-color:black">
    <v-navigation-drawer style="margin-left:10px;margin-top:20px; border-radius:40px" v-model="drawer" fixed app>

      <v-container>
        <v-icon color="blue">mdi-arrow-left</v-icon>
      </v-container>

      <center>




        <!--

<template v-for="(value, key, index) in datanya" :key="index">
  <span></span>
</template>

-->

        <v-img class="pa-2 mt-2" height="50" width="150" src="@/assets/subs.jpg"></v-img>
      </center>


      <v-list dense>
        <template v-for="item in items">
          <v-row v-if="item.heading" :key="item.heading" align="center">
            <v-col cols="6">
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-col>
            <v-col cols="6" class="text-center">
              <a href="#!" class="body-2 black--text">EDIT</a>
            </v-col>
          </v-row>
          <v-list-group v-else-if="item.children" :key="item.text" v-model="item.model" append-icon="">
            <template v-slot:activator>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>
                    {{ item.text }}
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>
            <v-list-item v-for="(child, i) in item.children" :key="i" link>

              <v-list-item-content>
                <v-list-item-title>
                  {{ child.text }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>
          <v-list-item v-else :key="item.text" link>

            <v-list-item-content>
              <v-list-item-title>
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app color="#3d3a3a" style="margin:20px;border-radius:40px" dark>
      <v-spacer />
      <div>
        <select
          style="font-size:12px;border:1px solid #fff;padding-left:25px;padding-right:25px; padding-bottom:5px;padding-top:5px;border-radius:20px">
          <option value="">Show 10 Per page icon </option>
        </select>
      </div>


      <v-spacer />
      <select
        style="font-size:12px;border:1px solid #fff;padding-left:25px;padding-right:25px; padding-bottom:5px;padding-top:5px;border-radius:20px">
        <option value="">Show 10 Per page icon </option>
      </select>
      <v-spacer />

      <input type="text" value="Search"
        style="font-size:12px;color:black;background-color:#adacac;padding-left:25px;padding-right:25px; padding-bottom:5px;padding-top:5px;border-radius:20px">

      <v-spacer />

     
      <v-spacer />
      <div>
        <select
          style="font-size:12px;padding-left:25px;padding-right:25px; padding-bottom:5px;background-color:#adacac;padding-top:5px;border-radius:20px">
          <option value="">English </option>
        </select>
      </div>

 <v-spacer />
      <v-img  width="20px"  src="@/assets/icon.png"></v-img>
    </v-app-bar>
    <v-content>
      <v-container style="margin:5px" >

          <template>
           

<v-simple-table style="margin-top:60px">
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">No</th>
          <th class="text-left">Name Rate</th>
          <th class="text-left">Value Rate</th>
          <th class="text-left">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(value,item, index) in datanya" :key="item">
          <td>{{ index+1 }}</td>
          <td>{{ item }}</td>
          <td>{{ value }}</td>
          <td>
            <span style="padding:4px;background-color:red;border-radius:50%; margin-right:5px"><v-icon @click="hapus(index)" color="white">mdi-minus</v-icon></span>
             <span style="padding:4px;background-color:black;border-radius:50%"><v-icon color="black">mdi-minus</v-icon></span>
            </td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>



          </template>
    
      </v-container>
    </v-content>


  </v-app>
</template>



<script>
  import axios from 'axios';

  export default {

    data() {
      return {
        dialog: false,
        drawer: true,
        datatablenya: [],
        datanya: [],
        singleSelect: false,


        items: [{
            text: 'Admin'
          },
          {
            text: 'Patners'
          },
          {
            text: 'Subscriber'
          },
          {
            text: 'Subscriber'
          },
          {
            text: 'Add Account'
          },
          {
            text: 'Modify Account'
          },
          {
            text: 'Close Account'
          },
          {
            text: 'Block Account'
          },
          {
            text: 'Vertification'
          },
          {
            text: 'Reset Pin'
          },
          {
            text: 'Approval'
          },
          {
            text: 'Subscriber Details'
          },
          {
            text: 'Transaction Rules'
          },
          {
            text: 'Manage'
          },
          {
            text: 'Transaction Control Profile'
          },
          {
            text: 'Service Charge & Commisioner'
          },
          {
            text: 'Group ROle'
          },
          {
            text: 'Group Role'
          },
          {
            text: 'Audit & Admin Trail'
          },






        ],
        selected: [],


        headers: [{
            text: 'Company Name',
            align: 'left',
            sortable: false,
            value: 'name',
          },
          {
            text: 'Action',
            value: 'protein'
          },
        ]
      }
    },
    methods:{
       hapus(id){
        
        console.log(this.datanya);


        

        
        
      }

    },
    mounted() {
      axios.get("https://api.exchangeratesapi.io/latest")
        .then(response => {
          // JSON responses are automatically parsed.

          this.datanya = response.data.rates;








          /*
                 this.datatablenya.push({
                        id: element1.data.id_inflixer,
                        jumlah: jumlah
                });
            */
        })


    },


  }
</script>